html {
    background-color: #ECE7D5;
    font-family: sans-serif;
}
  
body {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

img {
    width: max-content;
    overflow: hidden;
}

.titleContainer {
    margin: 10% 5% 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titleContainer h1 {
    margin-top: 5%;
}

.container {
    align-self: center;
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    padding: 5% 5%;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    column-gap: 20px;
}

#column-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.gallery-col {
    max-width: 33%;
    position: relative;
    margin: 2rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.gallery-col img {
    height: 5rem;
    filter:grayscale(100%);
    transition: width 0.5s, height 0.5s, transform 0.5s;
    cursor: pointer;
}

.gallery-col img:hover {
    filter: grayscale(0%);
    height: 6rem;
}

.info {
    display: flex;
}

.info ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info ul li {
    border-radius: 20px;
    color:#ECE7D5;
    background-color: #034C3C;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
}

.info ul li:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px #000;
}

.info .line {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #ECE7D5;
}
.container h1 {
    font-size: 5rem;
}

h1 {
    margin: 1rem 0;
    font-size: 7rem;
    font-family: 'Impact';
    max-width: max-content;
}

h1:hover {
    color: #034C3C;
    text-shadow: 5px 5px #DFD6B9;
    border-radius: 10px;
    cursor: default;
}

h2 {
    font-size: 1.7rem;
    font-family: 'Verdana';
    font-weight: 600;
}

p {
    font-family: 'Verdana';
    font-size: 1rem;
}

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #034C3C;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

.nav-links a {
    display: flex;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #034C3C;
}

.nav-links a:hover, a:focus {
    background-color: #DFD6B9;
    border-radius: 10px;
}

.expanded {
    display: unset;
}


[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 977px) {
    .titleContainer {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }
    
    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

    .row {
        flex-wrap: nowrap;
    }
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .col-small {
        width: 49%;
    }

    .col-large {
        width: 100%;
    }
    
    #column-img {
        padding-right: 2.2rem;
    }
}