---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #034C3C;
      text-decoration: none;
      border-radius: 10px;
    }
  </style>