---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle } = Astro.props;
const role = "Front-End Web Developer";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="global.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body class = "min-h-screen">
		<Header />
		<div class = "titleContainer">
			<div class="column" style ="padding-top: 5rem">
				<h1>{pageTitle}</h1>
				<h2>{role}</h2>
				<Footer />
			</div>
			<div class="column">
				<img src = "https://i.imgur.com/1HG2m8f.png">
			</div>
		</div>
		
		<slot />
		<!-- <Footer /> -->
		<script>
			import "../script/menu.js";
		</script>
	</body>
</html>
