---
import PageLayout from "./PageLayout.astro";
const { frontmatter } = Astro.props;
---
<div class="nav-links" style="top: 0">
  <a href="/">&#10094;</a>
</div>

<PageLayout sectionTitle={frontmatter.title}>
  <p>Created {frontmatter.pubDate.slice(0,10)}</p>
  <p>Last updated {frontmatter.lastUpdate.slice(0,10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} width="1090" alt={frontmatter.image.alt} />
  <slot />
</PageLayout>
